.color {
    border: solid 1px black;
    height: 100px;
    width: 100px;
    display: inline-block;

}

.pink {
    background-color: pink;
}

.black {
    background-color: black;
}

.red {
    background-color: red;
}

.purple {
    background-color: rgb(148, 148, 203);
}

#color-palette{
}
.pixel{
    border: solid 1px black;
     display: inline-block;  
    width: 40px;
    height: 40px;
    background-color: white;
}

#pixel-board{
    margin-right: 36px;
    
}

section{
    position: absolute;
    top: 250px;
}
#clear-board { 
    position: absolute;
   
    background-color: rgb(69, 80, 82);
    width: 90px;
    height: 30px;
    border: none;
    color: white;
}

#generate-board{
    position: absolute;
    left: 209px;

    background-color: rgb(69, 80, 82);
    width: 90px;
    height: 30px;
    border: none;
    color: white;
}

#board-size{
    width: 50px;
    position: absolute;
    left: 140px;

    border: solid 2px  rgb(69, 80, 82);
}





